.header-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  border: 1px solid black;
  padding: 0px 5vw 0px 5vw;

  .logo {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-start;

    & h1:hover {
      cursor: pointer;
    }
  }

  .menu-options {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;

    & ul:hover {
      cursor: pointer;
    }
  }
}