.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  // display: flex;
  // flex-direction: row;
  // justify-items: flex-start;
  padding: 25px 5vw 25px 5vw;
  max-width: 100%;
  width: 100%;
  
  h5 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-self: flex-end;
    font-weight: lighter;
  }
}